<div id="canvas">

  <div id="textColor"><h2 style="padding-left: 10px;">Log in</h2></div>
<%= content_tag :h3 do %>
<div id="textColor">Failed username password combination</div>
<% end if @failed_attempt %>

<%= form_for(:session, :url => '/authenticate') do |f| %>
<table>
  <div class="field">
    <tr>
      <td style="color: #ffffff"><%= f.label :email %></td>
      <td><%= f.text_field :email %></td>
    </tr>
  </div>
  <div class="field">
    <tr>
      <td style="color: #ffffff"><%= f.label :password %></td>
      <td><%= f.password_field :password %></td>
    </tr>
  </div>
  <div class="actions">
    <tr><td><%= f.submit "Sign in" %></td></tr>
  </div>

<% end %>
<div class="actions">
  <tr><td><%= button_to "New User", "/signup", :class => "button", :method => :get  %></td></tr>
  <tr><td><%= button_to "Forgot password",  "/password_reset_request/new", class: "button", method: :get %></td></tr>
</div>
</table>
</div>